@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .pokemon-card {
    position: relative;
    z-index: 100;

    height: 15rem;
    width: 12rem;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    background-color: #c2f3ff;

    cursor: pointer;
  }

  .poke-id {
    margin-top: 10px;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.2);
  }

  img {
    width: 70%;
  }

  .circle {
    padding: 65px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 6%;
    z-index: -1;
  }

  .poke-name {
    font-weight: bold;
  }
}
